@{
    ViewData["Title"] = "Home Page";
}

<strong>The value of Foo is:</strong><span id="foo"></span>
<br/>
<strong>The value of Bar is:</strong><span id="baz"></span>

<script src="/dist/index.js"></script>